target
workspace.xml
lib_managed
src_managed
project/boot
local-repo
logs
out
*.ncb
*.suo
*.obj
*.log
.idea/*
.idea_modules/*

*.classpath
*.project
*.settings
*.cache

!.idea/runConfigurations
!.idea/inspectionProfiles
!.idea/encodings.xml
!.idea/projectCodeStyle.xml
!.idea/vcs.xml
.history

src/main/scala-gen/
src/test/scala-gen/

